.hero-lifestyle-container .hero-lifestyle-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-lifestyle {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-lifestyle h1,
.hero-lifestyle h2,
.hero-lifestyle h3,
.hero-lifestyle h4,
.hero-lifestyle h5,
.hero-lifestyle h6,
.hero-lifestyle p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-lifestyle.no-image * {
  color: var(--text-color);
}

.hero-lifestyle picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-lifestyle img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-lifestyle {
    padding: 40px 32px;
  }
}
